<!doctype html>
<html lang="en" ng-app="veganaut.app" ng-controller="AppCtrl" class="ng-cloak" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title>Veganaut.net</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css?v=<%= bust %>"/>
    <link rel="stylesheet" href="/build/master.min.css?v=<%= bust %>"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=rM3qABaYKX">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=rM3qABaYKX" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=rM3qABaYKX" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=rM3qABaYKX">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=rM3qABaYKX" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=rM3qABaYKX">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body ng-show="isInitialised" ng-class="{
'logged-in': isLoggedIn(),
'logged-out': !isLoggedIn(),
'body--home': $location.path() === '/',
'embedded': isEmbedded
}">

<base href="/">
<header class="navbar navbar-default navbar-fixed-top" ng-if="!isEmbedded">
    <div class="navbar-inner">
        <div class="container navbar-container">
            <div class="navbar-header">
                <button class="navbar-toggle menu-button" ng-click="menu.shown = !menu.shown">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="btn btn-link navbar-btn-search"
                 ng-if="$location.path() !== '/search'"
                 ng-click="searchClick()">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="badge badge--new">
                        {{ 'message.new' | translate }}
                    </span>
                </button>
                <a href="/" class="main-logo-link" ng-show="$location.path() !== '/'">
                    <ng-include src="'img/veganaut.svg'" class="logo logo--main"></ng-include>
                </a>
            </div>
            <nav class="collapse" uib-collapse="!menu.shown">
                <!-- TODO: make a nav component to get rid of duplication here -->
                <button class="btn btn-default btn-block nav-home" ng-click="goToView('')">
                    <span class="glyphicon glyphicon-home pull-right"></span>
                    <span data-translate="navigation.home"></span>
                </button>
                <button class="btn btn-default btn-block nav-map" ng-click="goToView('map/')">
                    <span class="glyphicon glyphicon-map-marker pull-right"></span>
                    <span data-translate="navigation.map"></span>
                </button>
                <button class="btn btn-default btn-block nav-location-list" ng-click="goToView('locations/')">
                    <span class="glyphicon glyphicon-th-list pull-right"></span>
                    <span data-translate="navigation.locationList"></span>
                </button>

                <button class="btn btn-default btn-block nav-community" ng-click="goToView('community')"
                 ng-if="isLoggedIn()">
                    <span class="glyphicon glyphicon-globe pull-right"></span>
                    <span data-translate="navigation.community"></span>
                </button>
                <button class="btn btn-default btn-block nav-profile" ng-click="goToView('me')"
                 ng-if="isLoggedIn()">
                    <span class="glyphicon glyphicon-user pull-right"></span>
                    <span data-translate="navigation.profile"></span>
                </button>

                <button class="btn btn-default btn-block nav-register"
                 ng-click="goToView('register') | track:'linkToRegister':'linkToRegister.menu'"
                 ng-if="!isLoggedIn()">
                    <span class="glyphicon glyphicon-heart pull-right"></span>
                    <span data-translate="navigation.register"></span>
                </button>
                <button class="btn btn-default btn-block nav-login" ng-click="goToView('login')"
                 ng-if="!isLoggedIn()">
                    <span class="glyphicon glyphicon-log-in pull-right"></span>
                    <span data-translate="navigation.login"></span>
                </button>
                <button class="btn btn-default btn-block nav-logout" ng-click="logout()"
                 ng-if="isLoggedIn()">
                    <span class="glyphicon glyphicon-log-out pull-right"></span>
                    <span data-translate="navigation.logout"></span>
                </button>

                <div class="navbar-footer text-center">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://blog.veganaut.net/about/" target="_blank">
                                <span data-translate="navigation.about"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://blog.veganaut.net/" target="_blank">
                                <span data-translate="navigation.blog"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://blog.veganaut.net/contact" target="_blank">
                                <span data-translate="navigation.contactForm"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://twitter.com/veganautnet" target="_blank">
                                <span data-translate="navigation.twitter"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://www.facebook.com/veganautnet" target="_blank">
                                <span data-translate="navigation.facebook"></span>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <a href="https://github.com/veganaut/veganaut/issues" target="_blank">
                                <span data-translate="navigation.bugs"></span>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12" ng-controller="ChangeLocaleCtrl">
                            <span ng-repeat="locale in availableLocales">
                                <span ng-show="$index > 0">&nbsp;|&nbsp;</span>
                                <a href="" ng-hide="locale === localeService.getLocale()"
                                 ng-click="localeService.changeLocale(locale); closeMenu()">
                                    <span ng-bind="localeNames[locale]"></span>
                                </a>
                                <span ng-show="locale === localeService.getLocale()">
                                    <span ng-bind="localeNames[locale]"></span>
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="row navbar-footer__bottom">
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://blog.veganaut.net/nutzungsbedingungen/" target="_blank">
                                <span data-translate="navigation.termsOfUse"></span>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://blog.veganaut.net/datenschutzerklarung/" target="_blank">
                                <span data-translate="navigation.privacyPolicy"></span>
                            </a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://blog.veganaut.net/impressum/" target="_blank">
                                <span data-translate="navigation.imprint"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>

<div class="container main-container">
    <div ng-view></div>
</div>
<div class="alert-container">
    <div class="container">
        <vg-alert-display></vg-alert-display>
    </div>
</div>

<div class="menu-backdrop" ng-show="menu.shown" ng-click="menu.shown = false"></div>

<% if (jsFiles.length === 0) { -%>
<script src="/build/lib.min.js?v=<%= bust %>"></script>
<script src="/build/app.min.js?v=<%= bust %>"></script>
<% } else { -%>
<% for (var i = 0; i < jsFiles.length; i += 1) { -%>
<script src="<%= jsFiles[i] %>"></script>
<% } -%>
<script type="text/javascript">
    angular.module('veganaut.app.templates', []);
</script>
<% } %>
</body>
</html>
