<!doctype html>
<html lang="en" ng-app="veganaut.app" ng-controller="AppCtrl" class="ng-cloak" ng-strict-di>
<head>
    <meta charset="utf-8">
    <title ng-bind="pageTitleService.getPageTitle()">Veganaut.net</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css?v=<%= bust %>"/>
    <link rel="stylesheet" href="/build/master.min.css?v=<%= bust %>"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=rM3qABaYKX">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=rM3qABaYKX" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=rM3qABaYKX" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=rM3qABaYKX">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=rM3qABaYKX" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=rM3qABaYKX">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="description" content="Ein Vegan-Guide zum Mitmachen" />
    <meta name="abstract" content="Willst du anderen helfen, das vegane Universum zu erkunden? Auf Veganaut.net kannst du vegane Entdeckungen teilen und bewerten." />
    <meta name="keywords" content="vegan, shopping, gastro, restaurants, take-away, food, plant-based" />

    <meta property="og:site_name" content="Veganaut.net" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Veganaut.net" />
    <meta property="og:description" content="Ein Vegan-Guide zum Mitmachen" />
    <meta property="og:image" content="/img/lasagnepluslogo.png" />

</head>
<body ng-show="isInitialised" ng-class="{
'logged-in': isLoggedIn(),
'logged-out': !isLoggedIn(),
'body--home': $location.path() === '/',
'embedded': isEmbedded
}">

<base href="/">
<vg-nav-bar ng-if="!isEmbedded" vg-menu-shown="menu.shown"></vg-nav-bar>

<div class="container main-container">
    <div ng-view></div>
</div>
<div class="alert-container">
    <div class="container">
        <vg-alert-display></vg-alert-display>
    </div>
</div>

<% if (jsFiles.length === 0) { -%>
<script src="/build/lib.min.js?v=<%= bust %>"></script>
<script src="/build/app.min.js?v=<%= bust %>"></script>
<% } else { -%>
<% for (var i = 0; i < jsFiles.length; i += 1) { -%>
<script src="<%= jsFiles[i] %>"></script>
<% } -%>
<script type="text/javascript">
    angular.module('veganaut.app.templates', []);
</script>
<% } %>
</body>
</html>